@model HomeIndexViewModel

@{
    ViewBag.Title = "Home";
   
}

<h1> Resturants Lists. </h1>

@if (Model.Resturants.Any())
{
    <table>
        @foreach (var m in Model.Resturants)
        {
            <tr>
                <td>@m.Name is @m.Id</td>
                <td> @m.Address </td>
                <td> @Html.ActionLink("Go", "Details", new { id = m.Id })</td>
                <td> <a asp-action="Details" asp-route-id="@m.Id">More details</a></td> <!-- asp core Tag Helpers -->
            </tr>

        }
    </table>
}
else
{
    <h3 style="color:darkred">Data Table Empty. Add New Resturant. </h3>
}

<div>
    @section footer{
      Total Resturant Count is @Model.Resturants.Count()
    }
</div>
<div>
    @section greetings {
        <h3>@Model.Greeter</h3>
    }
</div>
<a asp-action="Create"> Add Resturnat </a>
