@model ode2Food.ViewModels.HomeIndexViewModel

<html>
<head>
    <title>
        OdeToFood!
    </title>
</head>

<body>
    <h1>@Model.Greeter</h1>
    @if (Model.Resturants.Any())
    {
        <table>
            @foreach (var m in Model.Resturants)
            {
                <tr>
                    <td>@m.Name is @m.Id</td>
                    <td> @Html.ActionLink("Go", "Details", new { id = m.Id })</td>
                    <td> <a asp-action="Details" asp-route-id="@m.Id">More details</a></td> <!-- asp core Tag Helpers -->
                </tr>

            }
        </table>
    }
    else
    {
        <h3 style="color:darkred"> Data Table Empty. Add New Resturant. </h3>
    }

    <a asp-action="Create"> Add Resturnat </a>

</body>
</html>